In [3]:
import requests
url = 'https://gist.githubusercontent.com/skywalker0803r/e0ef295d69aba240e6ff1537be354bc8/raw/aed60047596b683853f034fad444d1da6d432ae0/Modeling.py'
exec(requests.get(url).text)

In [ ]:
s_col = ['ARO1-DCS-FIC_98302_1','ARO1-DCS-FIC_98401_1',
'ARO1-DCS-AC_CTIME','ARO1-DCS-AC_STIME',
'ARO1-LIMS-S704-BR_INDEX','ARO1-LIMS-s704-744-C9',
'ARO1-LIMS-s704-744-C10+','ARO1-LIMS-S704-WATER',
'ARO1-LIMS-S704-TS']+['ARO1-LIMS-s704-744-C9']
a_col = ['ARO1-DCS-AC_L2_A','ARO1-DCS-AC_L3_A','ARO1-DCS-AC_L4_A','ARO1-DCS-AC_A_FA','ARO1-DCS-AC_HF']
y_col = [
    "ARO1-LIMS-s912-744-p-Xylene",
    "ARO1-LIMS-s912-744-m-Xylene",
    "ARO1-LIMS-s917-744-p-Xylene",
    "ARO1-LIMS-s916-744-p-Xylene",
]

In [4]:
import pandas as pd
df_x = pd.read_excel('../data/FCFC_ARO_900/R911R912 _ARO1_R2.xlsx',sheet_name='R911R912_TAGç›¸é—œéŒ¶é»žè³‡æ–™(X)')
df_x.head()

,Unnamed: 0,Unnamed: 1,ARO1-DCS-FIC_91103_2,ARO1-DCS-FIC_91103_1,ARO1-DCS-FI_91203,ARO1-DCS-FIC_98102_1,ARO1-DCS-FIC_98102_1.RESULT,ARO1-DCS-FIC_98302_1,ARO1-DCS-FIC_98302_1.RESULT,ARO1-DCS-FIC_98401_1,...,Unnamed: 55,ARO1-LIMS-S704-BR_INDEX,ARO1-LIMS-s704-744-C9,ARO1-LIMS-s704-744-C10+,ARO1-LIMS-S704-WATER,ARO1-LIMS-S704-TS,Unnamed: 61,ARO1-LIMS-s909-744-C9,ARO1-LIMS-s909-744-C10+,ARO1-LIMS-S909-BR_INDEX
0,NaN,2013-07-20 00:00:00,638.648,638.326,645.39,12.7533,12.621,224.999,226.57,233.111,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,2013-07-20 01:00:00,651.542,653.594,634.265,12.7533,12.5872,224.999,226.244,233.111,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,2013-07-20 02:00:00,648.831,647.641,657.156,12.7533,12.6072,224.999,226.425,233.111,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,2013-07-20 03:00:00,622.012,624.454,654.175,12.7533,12.5788,224.999,226.658,233.111,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,2013-07-20 04:00:00,671.924,668.433,659.25,12.7533,12.5766,224.999,226.442,233.111,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df_y = pd.read_excel('../data/FCFC_ARO_900/R911R912 _ARO1_R2.xlsx',sheet_name='ç›®æ¨™å€¼(Y)ç›¸é—œéŒ¶é»žè³‡æ–™')
df_y.head()